/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    night;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/montserrat-alternates/MontserratAlternates-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-montserrat: 'Montserrat', sans-serif;
  --animate-fade-in: fade-in 0.3s ease-in-out;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
